* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  height: 100vh;
  font-family: "Prompt", sans-serif;
}
main {
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
}
.extreme {
  display: flex;
  flex-direction: column;
  background-color: rgb(58, 58, 63);
  justify-content: center;
  height: 85vh;
}
a {
  text-decoration: none;
  color: whitesmoke;
  font-size: xx-large;
}
a:hover {
  color: rgb(137, 218, 137);
}
li {
  list-style: none;
  margin: 20px;
  margin-top: 60px;
}
.profile {
  height: 95vh;
  z-index: 2;
}
.lang {
  display: inline-block;
  position: absolute;
  height: 28px;
  left: 1300px;
}
.aboutMe {
  background-color: rgb(58, 58, 63);
  height: 85vh;
  max-width: max-content;
}
.me {
  margin: 30px;
}
h2 {
  font-size: 40px;
}
.label-color {
  color: rgb(137, 218, 137);
}
.name {
  position: absolute;
  top: 500px;
  z-index: 3;
  color: black;
  background-color: whitesmoke;
}
.imgFixed {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.job {
  top: 540px;
  color: rgb(44, 138, 44);
  font-size: 20px;
}
.skills {
  display: grid;
  grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  align-items: center;
}
.titleNoMargin {
  margin-bottom: 10px;
  margin-top: 18px;
}
.fab:hover,
.fas:hover {
  color: rgb(137, 218, 137);
}

h4 {
  margin: 8px;
  font-size: 12px;
}

.fas,
.fab {
  font-size: 30px;
}
.skill-icon {
  font-size: 15px;
}
@media (min-width: 1400px) {
  .name {
    top: 790px;
  }
  .job {
    top: 820px;
  }
  h4 {
    margin: 20px;
    font-size: 22px;
  }
  .skill-icon {
    font-size: 25px;
  }
  .lang {
    left: 1800px;
  }
}
