* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  height: 100vh;
  font-family: "Prompt", sans-serif;
}
main {
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
  background-color: rgb(58, 58, 63);
  height: 85vh;
  width: 100vw;
}
.extreme {
  display: flex;
  flex-direction: column;
  background-color: rgb(58, 58, 63);
  justify-content: center;
  height: 85vh;
  width: 6vw;
}
a {
  text-decoration: none;
  color: whitesmoke;
  font-size: xx-large;
}
a:hover {
  color: rgb(137, 218, 137);
}
li {
  list-style: none;
  margin: 20px;
  margin-top: 60px;
}
.profile {
  height: 94vh;
  z-index: 2;
}
.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(58, 58, 63);
  height: 85vh;
}
.lang {
  display: inline-block;
  position: absolute;
  height: 28px;
  left: 1300px;
}
.me {
  margin: 20px 30px;
  font-size: 12px;
  text-align: justify;
  width: 60vw;
  max-height: 85vh;
}
h2 {
  font-size: 40px;
}
.label-color {
  color: rgb(137, 218, 137);
}
.name {
  position: absolute;
  top: 500px;
  z-index: 3;
  color: black;
  background-color: whitesmoke;
}
.imgFixed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46%;
}
.job {
  top: 530px;
  color: rgb(44, 138, 44);
  font-size: 20px;
}
.social {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}
.fab:hover,
.fas:hover {
  color: rgb(137, 218, 137);
}

h4 {
  margin: 15px 0px;
}
.fas,
.fab {
  font-size: 30px;
}
span {
  font-weight: bolder;
  font-size: 17px;
}
.list {
  list-style: disc;
  margin: 20px 20px;
}
span:hover {
  color: rgb(137, 218, 137);
}
.nextPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 40px;
}
.primary-button {
  background-color: rgb(137, 218, 137);
  border-radius: 8px;
  border: none;
  color: white;
  width: 7.5%;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
}
@media (min-width: 1400px) {
  .name {
    top: 790px;
  }
  .job {
    top: 820px;
  }
}
